<h1>Index</h1>
<div id="app">
  {{ message }}
  <form>
    <div class="form-group">
      <label class="form-label">Name</label>
      <input class="form-control" type="text" placeholder="Recipe Name" v-model="recipe.name">
    </div>
    <div id="recipe-index-submit-button-container">
      <button type="submit" class="btn btn-default" @click="newRecipe">Submit</button>
    </div>
  </form>
</div>
