<div id="app">
  {{ message }}
  <button class="btn btn-default" id="recipe-index-button"@click="setupRecipeIndex">View Cookbook</button>
  <button class="btn btn-default" id="new-recipe-button" @click="toggleNewRecipe">Add New Recipe</button>

  <div id="recipe-index-container" v-if="displayRecipeIndex">
    <h1>Recipe Index</h1>
    <table class="table table-bordered table-hover">
      <tr>
        <th>Name</th>
        <th>Chef</th>
        <th>Recipe Details</th>
      </tr>
      <tr v-for="recipe in recipes">
        <td>{{ recipe.name }}</td>
        <td>{{ recipe.chef }}</td>
        <td><a href="#" @click="setupRecipeShow(recipe.id)">View Recipe</a></td>
      </tr>
    </table>
    <button type="submit" class="btn btn-default" @click="displayRecipeIndex = false">Back</button>
  </div>

  <div id="new-recipe-form-container" v-if="displayNewRecipe">
    <form>
      <div class="form-group">
        <label class="form-label">Name</label>
        <input class="form-control" type="text" placeholder="Recipe's Name" v-model="recipe.name">
      </div>
      <div class="form-group">
        <label class="form-label">Chef</label>
        <input class="form-control" type="text" placeholder="Chef's Name" v-model="recipe.chef">
      </div>
      <div class="form-group">
        <label class="form-label">Cooktime</label>
        <select class="form-control" type="text" v-model="recipe.cooktime">
          <option v-for="cookingtime in cookingtimes" :value="cookingtime.value">
            {{ cookingtime.cook }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label class="form-label">Serves</label>
        <select class="form-control" type="text" v-model="recipe.amount">
          <option v-for="serving in servings" :value="serving.value">
            {{ serving.serves }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label class="form-label">Description</label>
        <textarea class="form-control" rows="5" placeholder="Recipe Description" v-model="recipe.description"></textarea>
      </div>
      <div class="form-group">
        <label class="form-label">Favorite</label>
        <input type="checkbox" v-model="recipe.favorite">
      </div>

      <button class="btn btn-default" type="button" @click="newIngredient">Add Ingredient</button>
      <div class="form-group" v-for="(ingredient, index) in recipe.ingredients">
        <label class="form-label">Ingredient</label>
        <input type="text" v-model="ingredient.name">
        <a @click="removeIngredient(index)">Remove Ingredient</a>
        <p>Ingredient: {{ ingredient }}</p>
        <p>Index: {{ index }}</p>
      </div>

      <div id="recipe-index-submit-button-container">
        <button type="submit" class="btn btn-default" @click="newRecipe">Submit</button>
        <button class="btn btn-default" @click="displayNewRecipe = false">Back</button>
      </div>
    </form>
  </div>

  <div id="recipe-show-container" v-if="displayRecipeShow">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ recipe.name }}</h3>
      </div>
      <div class="panel-body">
        <p>{{ recipe.id }}</p>
        <p>{{ recipe.chef }}</p>
        <p>{{ recipe.cooktime }}</p>
        <p>{{ recipe.amount }}</p>
        <p>{{ recipe.favorite }}</p>
        <p>{{ recipe.description }}</p>
        <ul v-for="ingredient in recipe.ingredients">
          <li>{{ ingredient.ingredient_name }}</li>
        </ul>
        <button class="btn btn-default" @click="displayRecipeShow = false">Back</button>
        <button class="btn btn-default" @click="setupRecipeEdit(recipe.id)">Edit</button>
        <button class="btn btn-default" @click="destroyRecipe(recipe.id)">Delete</button>
      </div>
    </div>
  </div>

  <div id="recipe-edit-container" v-if="displayRecipeEdit">
    <h1>Edit {{ recipe.name }}</h1>
    <form>
      <div class="form-group">
        <label class="form-label">Name</label>
        <input class="form-control" type="text" placeholder="Recipe's Name" v-model="recipe.name">
      </div>
      <div class="form-group">
        <label class="form-label">Chef</label>
        <input class="form-control" type="text" placeholder="Chef's Name" v-model="recipe.chef">
      </div>
      <div class="form-group">
        <label class="form-label">Cooktime</label>
        <select class="form-control" type="text" v-model="recipe.cooktime">
          <option v-for="cookingtime in cookingtimes" :value="cookingtime.value">
            {{ cookingtime.cook }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label class="form-label">Serves</label>
        <select class="form-control" type="text" v-model="recipe.amount">
          <option v-for="serving in servings" :value="serving.value">
            {{ serving.serves }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label class="form-label">Description</label>
        <textarea class="form-control" rows="5" placeholder="Recipe Description" v-model="recipe.description"></textarea>
      </div>
      <div class="form-group">
        <label class="form-label">Favorite</label>
        <input type="checkbox" v-model="recipe.favorite">
      </div>

      <button class="btn btn-default" type="button" @click="newIngredient">Add Ingredient</button>
      <div class="form-group" v-for="(ingredient, index) in recipe.ingredients">
        <label class="form-label">Ingredient</label>
        <input type="text" v-model="ingredient.ingredient_name">
        <a @click="removeIngredient(index)">Remove Ingredient</a>
      </div>

      <div id="recipe-edit-submit-button-container">
        <button type="submit" class="btn btn-default" @click="editRecipe(recipe.id)">Edit</button>
        <button class="btn btn-default" @click="displayRecipeEdit = false">Cancel</button>
      </div>
    </form>
  </div>
</div> <!-- closes app --> 
